# Finding alpha signals in insider trading

In this post, we’ll take a look at insider trading (the legal kind, not the illegal kind) and what information, if any, investors can draw from the required disclosures that insiders must make.

In [1]:
import pandas as pd
from fidap import fidap_client

## What is insider trading

Insider trading generally has a negative connotation of being illegal. However, that’s most often not the case - the vast majority of insider trading is perfectly legal. An “insider” is any individual that may have material nonpublic information about a company. Generally, the definition includes the following people - 

1. Company directors
2. Company officers
3. Any shareholder with >10% holdings
4. Often, corporate insiders will need to trade in the shares of the company. Whenever an insider transacts in the shares of the company, they must file a declaration with the SEC called a Form 4. A filing looks something like this - 

More detailed information about what these fields mean can be found here.

## Is there information in insider trading?

For investors, the key question is whether or not insider trades can be used as a signal. There are two key questions we need to ask ourselves - 

1. What is the reason behind the insider trade?
2. If the reason behind the insider trade is price-related (eg an opinion on whether the price will go up or down), are insiders accurate?

There could be a variety of reasons that insiders trade in a security beyond whether they think the price is going to go up or down. For company directors and officers, a large part of their compensation may be based in shares, and they may decide to liquidate those shares for diversification or for liquidity needs for other reasons, such as taxes or other purchases. Though less common, even insider buys may have motivations driven by requirements, such as the need to maintain a certain level of ownership.

However, if the motivation of the insider trade is indeed an opinion on the future trajectory of the price of the stock, then we may conclude that insiders have additional information about the future prospects of the company. 

Therefore, can we assume that insiders buying shares is a positive signal and insiders selling shares is a negative signal?

## Data exploration using Fidap

Let’s see what the data tells us. Fidap has a dataset around insider trades that covers all SEC filings. Here’s a link to the table details page. There are 24 columns and 11.9m rows. The columns include information on the date of the transaction and the date of the filing, the transaction amount, the owner, the underlying security, as well as several other details.

The columns are below -

In [2]:
fidap = fidap_client(db="sf", api_key="1287a2d9e40042edb53254cd203b9a0b")

In [3]:
fidap.sql("""
    select * from meta_fields where "table" = 'insider_trades'
""")

             table                             NAME                        DISPLAY_NAME  ...    UNIQUENESS          MEAN    MEDIAN
0   insider_trades                           ticker                       Ticker Symbol  ...  1.516150e-03           NaN       NaN
1   insider_trades                       filingdate                         Filing Date  ...  3.774522e-04           NaN       NaN
2   insider_trades                         formtype                           Form Type  ...  6.917000e-07           NaN       NaN
3   insider_trades                       issuername                         Issuer Name  ...  1.494591e-03           NaN       NaN
4   insider_trades                        ownername     Owner Name (Insider / Investor)  ...  1.886212e-02           NaN       NaN
5   insider_trades                     officertitle                       Officer Title  ...  7.799448e-03           NaN       NaN
6   insider_trades                       isdirector                        Is Director?  ...  2.306000e-07           NaN       NaN
7   insider_trades                        isofficer                         Is Officer?  ...  2.306000e-07           NaN       NaN
8   insider_trades                istenpercentowner               Is Ten Percent Owner?  ...  2.306000e-07           NaN       NaN
9   insider_trades                  transactiondate                    Transaction Date  ...  7.890295e-04           NaN       NaN
10  insider_trades                   securityadcode     Security Acquired/Disposed Code  ...  5.764000e-07           NaN       NaN
11  insider_trades                  transactioncode                    Transaction Code  ...  2.075200e-06           NaN       NaN
12  insider_trades     sharesownedbeforetransaction     Shares Owned Before Transaction  ...  1.264092e-01  1.886221e+06  28325.00
13  insider_trades                transactionshares                  Transaction Shares  ...  3.484112e-02  1.916502e+04      2.00
14  insider_trades  sharesownedfollowingtransaction  Shares Owned Following Transaction  ...  1.271090e-01  1.865400e+06  28551.00
15  insider_trades         transactionpricepershare         Transaction Price per Share  ...  2.215681e-02  3.799854e+03     21.71
16  insider_trades                 transactionvalue                   Transaction Value  ...  8.497516e-02  1.775310e+06  50016.00
17  insider_trades                    securitytitle                      Security Title  ...  4.017548e-03           NaN       NaN
18  insider_trades                 directorindirect                 Direct or Indirect?  ...  2.306000e-07           NaN       NaN
19  insider_trades                natureofownership                 Nature of Ownership  ...  7.422803e-03           NaN       NaN
20  insider_trades                  dateexercisable                    Date Exercisable  ...  1.051655e-03           NaN       NaN
21  insider_trades                 priceexercisable                   Price Exercisable  ...  2.840345e-03  1.036079e+03     13.75
22  insider_trades                   expirationdate                     Expiration Date  ...  1.060648e-03           NaN       NaN
23  insider_trades                           rownum                          Row Number  ...  3.246504e-04  7.896030e+00      3.00

[24 rows x 9 columns]

Over fifteen years that we have data in Fidap, we see a total 12 million transactions, covering 15,000 tickers, and a whopping $9 trillion in transaction volume. See the query below

In [4]:
fidap.sql("""
    select count(*) as count, sum(transactionvalue) as tvalue, 
    count(distinct(ticker)) as tickers, min(filingdate) from insider_trades
""")

     COUNT         TVALUE  TICKERS MIN(FILINGDATE)
0  7223907  6669452022398    13120      2008-01-02

Let's first explore the data and find some basic numbers here.

We can see these same numbers in the Fidap dashboard as well.

Let's see some of the individual rows here.

In [5]:
fidap.sql("""
    select * from insider_trades where ticker='STT'  order by filingdate desc limit 5
""")

  TICKER  FILINGDATE  FORMTYPE         ISSUERNAME           OWNERNAME  ...    NATUREOFOWNERSHIP DATEEXERCISABLE PRICEEXERCISABLE EXPIRATIONDATE ROWNUM
0    STT  2020-11-20         4  STATE STREET CORP  RICHARDS MICHAEL L  ...                 None             NaN              NaN            NaN      1
1    STT  2020-11-20         4  STATE STREET CORP  RICHARDS MICHAEL L  ...  By domestic partner             NaN              NaN            NaN      2
2    STT  2020-11-17         4  STATE STREET CORP      PHELAN DAVID C  ...                 None             NaN              NaN            NaN      1
3    STT  2020-11-17         4  STATE STREET CORP  TARAPOREVALA CYRUS  ...                 None             NaN              NaN            NaN      1
4    STT  2020-11-17         4  STATE STREET CORP  RICHARDS MICHAEL L  ...                 None             NaN              NaN            NaN      1

[5 rows x 24 columns]

We can actually get info on each of the columns from the metadata table. Let's take a look.

In [6]:
fidap.sql("""
    select * from insider_trades where ticker='AAPL' and securitytitle = 'Common Stock' limit 5
""")

  TICKER  FILINGDATE  FORMTYPE ISSUERNAME    OWNERNAME  ... NATUREOFOWNERSHIP DATEEXERCISABLE PRICEEXERCISABLE EXPIRATIONDATE ROWNUM
0   AAPL  2018-02-20         4  APPLE INC  KONDO CHRIS  ...               NaN             NaN              NaN            NaN      1
1   AAPL  2018-02-20         4  APPLE INC  KONDO CHRIS  ...               NaN             NaN              NaN            NaN      2
2   AAPL  2016-02-17         4  APPLE INC  KONDO CHRIS  ...               NaN             NaN              NaN            NaN      1
3   AAPL  2016-02-17         4  APPLE INC  KONDO CHRIS  ...               NaN             NaN              NaN            NaN      2
4   AAPL  2015-02-20         4  APPLE INC  JUNG ANDREA  ...               NaN             NaN              NaN            NaN      1

[5 rows x 24 columns]

In [7]:
# need to link with tickers table
fidap.sql("""
    select ticker, count(*) as count, sum(transactionvalue) as tvalue from insider_trades
    where transactionvalue > 0 group by ticker order by tvalue desc limit 10
""")

  TICKER  COUNT         TVALUE
0   NGBL    995  1425086696067
1    GGP    497    73606075821
2   PWRM     75    61806147612
3  TELOZ     63    50915143904
4    HLT    363    50495362012
5  AMGTI    348    49325889352
6   INVH    347    41747721180
7   OMAG     51    41030154474
8  CHTRQ    864    40386743764
9     FB   6877    40168004044

In [8]:
fidap.sql("""
    select insider_trades.ticker, insider_trades.filingdate, insider_trades.transactionvalue from insider_trades, tickers
    where insider_trades.ticker = tickers.ticker and insider_trades.transactionvalue > 100000 and insider_trades.securitytitle = 'Common Stock' 
    and tickers.sector = 'Technology'
    limit 100
""")

   TICKER  FILINGDATE  TRANSACTIONVALUE
0     TDC  2017-02-24            242314
1    CSCO  2017-02-24            472434
2    CSCO  2017-02-24           8515000
3    CSCO  2017-02-24            775102
4    CSCO  2017-02-24            775330
..    ...         ...               ...
95    CRM  2019-02-15            857751
96   ACLS  2019-02-15            307757
97   VCRA  2019-02-15            151550
98   CVLT  2019-02-15           1449533
99   CVLT  2019-02-15           4351806

[100 rows x 3 columns]

In [10]:
df = fidap.sql("""
    select insider_trades.ticker, insider_trades.filingdate, insider_trades.transactionshares,
    insider_trades.transactionvalue, daily.close, daily.fc_1m
    from insider_trades, tickers, daily
    where insider_trades.ticker = 'AAPL' and
    insider_trades.ticker = tickers.ticker and 
    insider_trades.ticker = daily.ticker and
    insider_trades.filingdate = daily.date and
    insider_trades.transactionvalue > 100000 and 
    insider_trades.securitytitle = 'Common Stock' 
    and tickers.sector = 'Technology'
""")

In [11]:
df

    TICKER  FILINGDATE  TRANSACTIONSHARES  TRANSACTIONVALUE    CLOSE     FC_1M
0     AAPL  2016-02-03              -2008            191704   24.087  0.057334
1     AAPL  2016-03-08             -15088           1554215   25.258  0.075501
2     AAPL  2016-03-17             -18241           1895605   26.450  0.010473
3     AAPL  2016-03-23            -256356          27150664   26.532 -0.009875
4     AAPL  2016-03-23            -256356          27150664   26.532 -0.009875
..     ...         ...                ...               ...      ...       ...
357   AAPL  2020-10-19             -12452           1495983  115.980  0.017675
358   AAPL  2020-11-05              -2612            285283  119.030  0.044947
359   AAPL  2020-11-05              -8641            953966  119.030  0.044947
360   AAPL  2020-11-05              -5747            637860  119.030  0.044947
361   AAPL  2020-11-17             -30524           3640292  119.390  0.060851

[362 rows x 6 columns]

In [12]:
df['FC_1M'].mean()

0.030035378544751384

In [17]:
df[df['TRANSACTIONSHARES'] > 0]['FC_1M'].mean()

0.024119978448000002

In [13]:
df[df['TRANSACTIONSHARES'] < 0]['FC_1M'].mean()

0.029390211910115607

In [14]:
len(df[df['TRANSACTIONSHARES'] > 0]['FC_1M'])

16

In [15]:
df2 = fidap.sql("""
    select insider_trades.ticker, insider_trades.filingdate, insider_trades.transactionshares,
    insider_trades.transactionvalue, daily.close, daily.fc_1m
    from insider_trades, tickers, daily
    where 
    insider_trades.ticker = tickers.ticker and 
    insider_trades.ticker = daily.ticker and
    insider_trades.filingdate = daily.date and
    insider_trades.transactionvalue > 100000 and 
    insider_trades.securitytitle = 'Common Stock' 
    and tickers.sector = 'Technology'
""")

In [16]:
df2[df2['TRANSACTIONSHARES'] > 0]['FC_1M'].mean()

0.01672661702722382

In [17]:
df2[df2['TRANSACTIONSHARES'] < 0]['FC_1M'].mean()

0.01957024488006686

In [18]:
fidap.sql("""
    select avg(daily.fc_3m), avg(daily.fc_1m), count(daily.fc_3m)
    from insider_trades, tickers, daily
    where 
    insider_trades.transactionshares > 0 and 
    insider_trades.ticker = tickers.ticker and 
    insider_trades.ticker = daily.ticker and
    insider_trades.filingdate = daily.date and
    insider_trades.transactionvalue > 100000 and 
    insider_trades.securitytitle = 'Common Stock'
""")

   AVG(DAILY.FC_3M)  AVG(DAILY.FC_1M)  COUNT(DAILY.FC_3M)
0          0.060503          0.017141               70341

In [19]:
fidap.sql("""
    select avg(daily.fc_3m), avg(daily.fc_1m), count(daily.fc_3m)
    from insider_trades, tickers, daily
    where 
    insider_trades.transactionshares < 0 and 
    insider_trades.ticker = tickers.ticker and 
    insider_trades.ticker = daily.ticker and
    insider_trades.filingdate = daily.date and
    insider_trades.transactionvalue > 100000 and 
    insider_trades.securitytitle = 'Common Stock' 
""")

   AVG(DAILY.FC_3M)  AVG(DAILY.FC_1M)  COUNT(DAILY.FC_3M)
0          0.056397           0.00895              174460

In [20]:
fidap.sql("""select * from fundamentals where ticker='URBN' and dimension = 'MRQ' order by calendardate desc""")

   TICKER DIMENSION CALENDARDATE     DATEKEY REPORTPERIOD LASTUPDATED  ...    TAXEXP  TAXLIABILITIES   TBVPS  WORKINGCAPITAL   REV_YOY   REV_QOQ
0    URBN       MRQ   2020-09-30  2020-10-31   2020-10-31  2020-12-11  ...  20914000               0  36.107       424663000 -0.018089  0.207081
1    URBN       MRQ   2020-06-30  2020-07-31   2020-07-31  2020-12-11  ...  34486000               0  35.031       499750000 -0.165290  0.364977
2    URBN       MRQ   2020-03-31  2020-04-30   2020-04-30  2020-12-11  ... -60131000               0  34.278       513351000 -0.319211 -0.496842
3    URBN       MRQ   2019-12-31  2020-01-31   2020-01-31  2020-12-11  ...  20077000               0  33.848       414626000  0.035989  0.184420
4    URBN       MRQ   2019-09-30  2019-10-31   2019-10-31  2020-12-11  ...  20193000               0  33.893       401961000  0.014315  0.026124
5    URBN       MRQ   2019-06-30  2019-07-31   2019-07-31  2020-12-11  ...  21239000               0  31.667       374264000 -0.030354  0.113275
6    URBN       MRQ   2019-03-31  2019-04-30   2019-04-30  2020-12-11  ...  10115000               0  31.137       491118000  0.010196 -0.234320
7    URBN       MRQ   2018-12-31  2019-01-31   2019-01-31  2020-12-11  ...  28973000               0  20.172       816112000  0.036570  0.159640
8    URBN       MRQ   2018-09-30  2018-10-31   2018-10-31  2020-12-11  ...  20072000               0  20.197       793826000  0.090459 -0.019065
9    URBN       MRQ   2018-06-30  2018-07-31   2018-07-31  2020-12-11  ...  25789000               0  19.834       771830000  0.136921  0.159832
10   URBN       MRQ   2018-03-31  2018-04-30   2018-04-30  2020-12-11  ...  12716000               0  18.907       682047000  0.124145 -0.214330
11   URBN       MRQ   2017-12-31  2018-01-31   2018-01-31  2020-12-11  ...  89771000               0  18.046       618543000  0.057235  0.219927
12   URBN       MRQ   2017-09-30  2017-10-31   2017-10-31  2020-12-11  ...  26914000               0  17.812       544236000  0.035111  0.022731
13   URBN       MRQ   2017-06-30  2017-07-31   2017-07-31  2020-12-11  ...  27001000               0  16.939       567522000 -0.019804  0.146798
14   URBN       MRQ   2017-03-31  2017-04-30   2017-04-30  2020-12-11  ...   9417000               0  16.582       571369000 -0.001819 -0.261094
15   URBN       MRQ   2016-12-31  2017-01-31   2017-01-31  2020-12-11  ...  34463000               0  16.370       528469000       NaN  0.194399
16   URBN       MRQ   2016-09-30  2016-10-31   2016-10-31  2020-12-11  ...  23804000               0  16.136       484786000       NaN -0.031527
17   URBN       MRQ   2016-06-30  2016-07-31   2016-07-31  2020-12-11  ...  42368000               0  16.000       502033000       NaN  0.167840
18   URBN       MRQ   2016-03-31  2016-04-30   2016-04-30  2020-12-11  ...  19344000               0  15.472       467170000       NaN       NaN

[19 rows x 113 columns]

In [22]:
fidap.sql("""select * from meta_fields where "table" = 'fundamentals'""")

            table            NAME                          DISPLAY_NAME  ... UNIQUENESS          MEAN        MEDIAN
0    fundamentals          ticker                         Ticker Symbol  ...   0.016756           NaN           NaN
1    fundamentals       dimension                             Dimension  ...   0.000014           NaN           NaN
2    fundamentals    calendardate                         Calendar Date  ...   0.000046           NaN           NaN
3    fundamentals         datekey                              Date Key  ...   0.003615           NaN           NaN
4    fundamentals    reportperiod                         Report Period  ...   0.001766           NaN           NaN
..            ...             ...                                   ...  ...        ...           ...           ...
108  fundamentals  taxliabilities                       Tax Liabilities  ...   0.074720  2.241745e+09  0.000000e+00
109  fundamentals           tbvps  Tangible Assets Book Value per Share  ...   0.159967  1.501994e+04  1.797900e+01
110  fundamentals  workingcapital                       Working Capital  ...   0.166667  2.253482e+09  5.306800e+07
111  fundamentals         rev_yoy                                  None  ...   0.145233           NaN  5.497050e-02
112  fundamentals         rev_qoq                                  None  ...   0.180735           NaN  1.840749e-02

[113 rows x 9 columns]