# Market Overview

In this notebook, we'll take a look at the market as a whole using Fidap.

In [1]:
import fidap, pandas as pd, importlib
importlib.reload(fidap)

## Aggregate statistics

First, let's get some aggregate statistics - how many companies there are, the total market cap, and the historical average volume.

In [2]:
fidap.sql('select count(*) from tickers')

   count
0   6119

## Top companies

We can look at the top companies in several ways - by market cap, revenue, assets, etc. Here are some views - 

### By market cap

In [5]:
fidap.sql('select ticker, name, marketcap from tickers where marketcap > 0 order by marketcap desc limit 10')

  ticker                    name     marketcap
0   AAPL               APPLE INC  1.967476e+12
1   MSFT          MICROSOFT CORP  1.639767e+12
2   AMZN          AMAZON COM INC  1.605051e+12
3  GOOGL            ALPHABET INC  1.110694e+12
4   BABA    ALIBABA GRP HLDG LTD  8.325999e+11
5     FB            FACEBOOK INC  8.113143e+11
6  BRK.B  BERKSHIRE HATHAWAY INC  5.081711e+11
7    WMT             WALMART INC  4.076354e+11
8   TSLA               TESLA INC  3.919467e+11
9      V                VISA INC  3.846107e+11

### By revenue