# Market Overview

In this notebook, we'll take a look at the market as a whole using Fidap.

In [1]:
import pandas as pd
from fidap import fidap_client
import config

In [2]:
fidap = fidap_client(api_key=config.FIDAP_API_KEY)

## Aggregate statistics

First, let's get some aggregate statistics - how many companies there are, the total market cap, and the historical average volume.

In [3]:
fidap.sql('select count(*) from tickers')

   COUNT(*)
0      6078

## Top companies

We can look at the top companies in several ways - by market cap, revenue, assets, etc. Here are some views - 

### By market cap

In [5]:
fidap.sql('select ticker, name, marketcap from tickers where marketcap > 0 order by marketcap desc limit 10')

  ticker                    name            marketcap
0   AAPL               APPLE INC  2215357099999999744
1   MSFT          MICROSOFT CORP  1749492399999999744
2   AMZN          AMAZON COM INC  1608714600000000000
3  GOOGL            ALPHABET INC  1236074300000000000
4   TSLA               TESLA INC   752187700000000000
5     FB            FACEBOOK INC   735638600000000000
6   BABA    ALIBABA GRP HLDG LTD   681914100000000000
7  BRK.B  BERKSHIRE HATHAWAY INC   534767399999999936
8    JNJ       JOHNSON & JOHNSON   429446700000000000
9    WMT             WALMART INC   397486400000000000

### By revenue