# Today's Market

In this notebook, we'll take a look at today's market.

In [1]:
import pandas as pd
from fidap import fidap_client
import config

In [2]:
fidap = fidap_client(api_key=config.FIDAP_API_KEY)

## Aggregate statistics

First, let's get some aggregate statistics - how many companies there are, the total market cap, and the historical average volume.

In [4]:
df = fidap.sql("""SELECT count(ticker) ticker_count,
       sum(marketcap) marketcap_sum,
       sum(marketcap) / 1e12 marketcap_sum_tr,
       sum(mc_ch) mc_ch_sum,
       sum(mc_ch)/1e9 mc_ch_sum_bn,
       (sum(mc_ch) / sum(marketcap)) *100 as pct_mc_ch,
       avg(pc_1d) *100 pc_1d_avg,
       stddev(pc_1d) * 100 dispersion,
       sum(revenueusd) as revenue
FROM tickers
WHERE marketcap > 100e6""")
df

,ticker_count,marketcap_sum,marketcap_sum_tr,mc_ch_sum,mc_ch_sum_bn,pct_mc_ch,pc_1d_avg,dispersion,revenue
0,4767,4.674321e+19,46743206.3,-817442552500000000,-8.174426e+08,-1.748794,-1.077896,6.667624,4573561095163

In more readable terms -

In [5]:
print("""
Number of companies: {}
Total market cap: {} trillion
""".format(df.loc[0,'ticker_count'], df.loc[0,'marketcap_sum_tr']))

Number of companies: 4767
Total market cap: 46743206.300000004 trillion

In [6]:
df_tickers = fidap.sql("select * from tickers where marketcap > 1e8")

In [7]:
df_tickers['date']

0      2021-01-29
1      2021-01-29
2      2021-01-29
3      2021-01-29
4      2021-01-29
          ...
4762   2021-01-29
4763   2021-01-29
4764   2021-01-29
4765   2021-01-29
4766   2021-01-29
Name: date, Length: 4767, dtype: datetime64[ns]

## Top companies

We can look at the top companies in several ways - by market cap, revenue, assets, etc. Here are some views - 

### By market cap

### By revenue